@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Poppins&display=swap');

:root {
  --md-primary-fg-color: #111111;
  --md-accent-fg-color: #0b18a2;
}

.md-ellipsis {
  color: #111111;
}

.md-search__input {
  border: 1px solid rgba(121, 121, 121, 0.705);
  border-radius: 6px;
}

@font-face {
  font-family: "Montserrat";
  src: url("Alliance No.2 Regular.otf");
}

@font-face {
  font-family: "heading2";
  src: url("AllianceNo.2-Light.otf");
}

.md-typeset h1 {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.md-typeset h2 {
  color: #0f0f0f;
  font-family: "Poppins";
}

.md-typeset h2 {
  color: #2d2d2d;
  font-family: "Poppins";
}

.md-typeset a {
  color: #1464FF;
}

a:hover {
  color:#0b3280;
}



.md-header__button {
  color: currentcolor;
  cursor: pointer;
  margin: none !important;
  margin-bottom: -.5rem !important;
  margin-left: -.5rem !important;
  outline-color: var(--md-accent-fg-color);
  padding: .4rem;
  position: relative;
  transition: opacity .25s;
  vertical-align: none !important;
}



@media only screen and (max-width: 1220px) {
  .header__button{
    margin-bottom: .2rem !important;
    margin-left: .2rem !important;
    z-index: 0;
  }
}
